<div class="flexbox recover">
    <img class="recover__logo" src="../../../assets/public/CG.png" alt="logo">
    <div class="recover__welcome">
        Seja Bem Vindo!
    </div>
    <form [formGroup]="recoverForm" (ngSubmit)="recoverPassword()">
        <div class="recover__form">
            <div class="recover__group">
                <label class="recover__label">E-mail</label>
                <input type="email" class="recover__input" formControlName="email">
            </div>
    
            <button type="submit" class="btn recover__submit" [disabled]="!recoverForm.valid">Enviar</button>

            <div *ngIf="showMsg">
                {{msg}}
            </div>
        </div>
    </form>
</div>
