<p>login page</p>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="login__form">
        <div class="login__group">
            <label class="login__label"></label>
            <input type="email" class="login__input" formControlName="email">
        </div>

        <div class="login__group">
            <label class="login__label"></label>
            <input type="password" class="login__input" formControlName="password">
        </div>

        <button type="submit" class="" [disabled]="!loginForm.valid">Login</button>
    </div>
    <div>
        <button type="click" class="" (click)="forgotPassword()">Forgot Password? Click Here!</button>
    </div>
</form>