<div class="flexbox login">
    <img class="login__logo" src="../../../assets/public/CG.png" alt="logo">
    <div class="login__welcome">
        Seja Bem Vindo!
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="login__form">
            <div class="login__group">
                <label class="login__label">E-mail</label>
                <input type="email" class="login__input" formControlName="email">
            </div>
    
            <div class="login__group">
                <label class="login__label">Senha</label>
                <input type="password" class="login__input" formControlName="password">
            </div>
    
            <button type="submit" class="btn login__submit" [disabled]="!loginForm.valid">Entrar</button>

            <button type="click" class="btn login__forget" (click)="forgotPassword()">Esqueci minha senha</button>
        </div>
    </form>
</div>