<div class="flexbox login">
    <img class="login__logo" src="../../../assets/public/CG.png" alt="logo">
    <div class="login__welcome">
        Seja Bem Vindo!
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="login__form">
            <input type="email" class="login__input" placeholder="E-mail" formControlName="email">
    
            <input type="password" class="login__input" placeholder="Senha" formControlName="password">
    
            <button type="submit" class="btn login__submit" [disabled]="!loginForm.valid">Entrar</button>
            <div>
                <span type="click" class=" login__forget" (click)="register()">Cadastrar</span>
                <span type="click" class=" login__forget" (click)="forgotPassword()">Esqueci minha senha</span>
            </div>
        </div>
    </form>
</div>